
body{
    font-family: 'Poppins', sans-serif;
}
section {
    background-color: black;
}

*{padding: 0; margin: 0;}


.home {
    background-color: black;
    height: 100vh;
    color: black;
    font-size: 30px;
}

footer {
    background-color: black;
    justify-content: space-around;
    color: white;
    text-align: center;
    padding: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

.letters{
    size: 120px;
    height: 120px;
}

ul {
    display: flex;
    list-style-type: none;
    width: 400px;
    justify-content: space-around;
    font-size: 20px;
}

li {
    text-decoration: none;
}
h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 20px;
    margin:0;
}

h3 {
    font-size: 10px;
    margin: 0;
}
p{
    margin: 0;
    font-size: 15px;
    font-weight: 300;
}

.subtext{
    font-size: 8px;
    font-weight: 300;
}

.home-area {
    display: flex;
    flex-direction: flex;
    height: 80%;
    justify-content: space-between;
    align-items: center;
}

.home-text {
    margin-left: 80px;
    margin-bottom: 70px;
}

.button {
    width: 100px;
    height: 25px;
    border-radius: 30px;
    background-color: rgb(238, 123, 81);
    text-align: center;
    font-size: 15px;
    font-weight: 100;
    padding-top: 2px;
    margin-top: 30px;
}

.button-hover {
    background-color: #ba8e7f;
}

.button-active {
    background-color: #a9a9a9;
    color: #808080;
}
  
.socials {
    display: flex center;
    height: 100%;
    padding-bottom: 70px;
}

.logo{
    height: 80px;
    margin: 30px;
}
.logo2{
    height: 30px;
    margin: 10px;
  
}

.social{
    margin-top: 20 px;
}

.about{
    background-color: yellow;
    display: flex;
    height: 100%;
    justify-content: space-around;
    padding: 70px;
}

.portfolio{
    background-color: #ef744b;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 70px;
}
.information {
    font-size: 10px;
    margin: 10px;
   }

.headpic{
    width: 200px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

@media only screen and (max-width 1000 px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.portfolio-card {
    width: 200px;
    height: 250px;
    box-shadow: 5px 5px 20px black;
    margin: 20px;
}

.portfolio-container {
    display: flex;
    height: 100%;
    justify-content: space-around;
    background-color: white;
    margin: 10px;
}

.portfolio-image {
    margin-top: 25px;
    width: 150px;
    height: 150px;
    border-radius: 150px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}
.example-link {
    text-decoration: none;
    font-size: 15px;
    color:  #ef744b;
}

a {
    text-decoration: none;
    color: white;
}

.portfolio-view {
    width: 600px;
    height: 1200px;
    box-shadow: 5px 5px 20px black;
    margin: 10px;
}

  
